# susi folders
outputs/

#python stuff
venv/
*.pyc
__pycache__/
.DS_Store
outputs/
.spyproject/*
.python-version
.spyproject/config/workspace.ini
*.egg
*.egg-info/
src/susi_26.egg-info

# Spyder stuff
.spyproject/
.spyproject/config/workspace.ini

# uv stuff (not usefult since some are using pip)
uv.lock
.python-version

requirements_inaki.txt

analysis/.ipynb_checkpoints
analysis/eyeballing.py
pyrightconfig.json
golden_file_test/golden_file_new_experiment/
paroninkorpi/
