# susi folders
outputs/

#python stuff
venv/
*.pyc
__pycache__/
.DS_Store
outputs/
.spyproject/*
.python-version
.spyproject/config/workspace.ini
*.egg
*.egg-info/
src/susi_26.egg-info

# Spyder stuff
.spyproject/
.spyproject/config/workspace.ini

# uv stuff (not usefult since some are using pip)
uv.lock
.python-version

requirements_inaki.txt

analysis/.ipynb_checkpoints
pyrightconfig.json
src/inputs/paroninkorpi/Stand_allometry/.~lock.susi_input_10.xlsx#
golden_file_test/golden_file_new_experiment/
mikko/
uv.lock
analysis/eyeballing.py
src/inputs/paroninkorpi/Forest_data
src/inputs/paroninkorpi/Ditches
